{% extends "admin/base.html" %}
{% import 'admin/lib.html' as lib with context %}

{% macro url() -%}
    {{ url_for('admin.static', *varargs, **kwargs) }}
{%- endmacro %}

{% macro render_form_read_button(cancel_url, extra=None) %}
    <div class="control-group">
      <div class="controls">
        {% if extra %}
        {{ extra }}
        {% endif %}
        {% if cancel_url %}
            <a href="/admin/" class="btn btn-info btn-large">{{ _gettext('Refresh') }}</a>
            <input type="button" onclick="stop();" class="btn btn-default btn-large" value="{{ _gettext('Stop reading') }}" />
        {% else %}
        <input type="submit" class="btn btn-primary btn-large" value="{{ _gettext('Read unit') }}" />
        {% endif %}
      </div>
    </div>
{% endmacro %}

{% block head %}
    {{ super() }}
    <link href="{{ url(filename='select2/select2.css') }}" rel="stylesheet">
    <link href="{{ url(filename='datetimepicker/bootstrap-datetimepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="page-header">
  <h1>Flash Trends <small>Data logger application.</small></h1>
</div>

{% call lib.form_tag(form) %}
    {{ lib.render_form_fields(form, form_opts=form_opts, form_rules=form_rules) }}
    {{ render_form_read_button(return_url) }}
{% endcall %}
  
{% endblock %}

{% block tail %}
  {{ super() }}
  <script src="{{ url(filename='datetimepicker/bootstrap-datetimepicker.js') }}"></script>
  <script src="{{ url(filename='admin/js/form.js') }}"></script>
  <script>
  var stop=function() {
    var ok = confirm('You sure you want to stop reading unit?');
    
    if (!ok) return ok;
    
    $('form').attr('action','/admin/stop/');
    $('form').submit();
  }
  </script>
{% endblock %}

